@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Signika+Negative:wght@400;700&display=swap');

:root{
    --box-shadow-display: 0px 1px 4px 4px rgba(0,0,0,0.14);
    --box-verde: #00C9A7;
    --box-vermelho: #D83121;
    --box-azul: rgb(60, 141, 189);
    --box-laranja: rgb(244, 156, 16);
    --box-body: rgb(105,105,105);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}

body{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow:var(--box-shadow-display);
    padding: 100px;
    border-radius: 3px;
}

.Display{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.Display__Entradas{
    padding: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    box-shadow: var(--box-shadow-display);
    font-weight: 700;
    background-color: var(--box-verde);
}

.Display__Saídas{
    padding: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 3%;
    box-shadow: var(--box-shadow-display);
    font-weight: 700;
    background-color: var(--box-vermelho);
}

.Display__Total{
    padding: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    box-shadow: var(--box-shadow-display);
    font-weight: 700;
    background-color: var(--box-laranja);
}


