.main{
    padding-top: 50px;
}

.main__table__thread__tr{
    display: flex;
    gap: 100px;
    border-bottom: 1px solid var(--box-body);
    font-weight: 700;
    font-size: 15pt;
}

.tr__desc{
    padding-right: 60px;
}

.tr__valor{
    padding-right: 45px;
}

.tr__tipo{
    padding-right: 45px;
}

#tbody{
    display: flex;
    flex-direction: column;
    gap: px;

}


.columnType{
    padding-right: 160px;
    border-right: 1px solid var(--box-body);
}

#verde{
    color: var(--box-verde);
}

#verm{
    color: var(--box-vermelho);
}

.columnDesc{
    padding-right: 205px ;
    border-right: 1px solid var(--box-body);
}

.columnAction button{
    border: none;
    background-color: white;

}