.divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: var(--box-verde);
  }
  
  .bxs-chevron-down-circle {
    color: var(--box-vermelho);
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;
  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }
